# Ignore Gradle build directory
/build/

# Ignore IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Ignore Eclipse files
.classpath
.project
.settings/
bin/
tmp/
*.log

# Ignore Maven files
target/
*.jar
*.war
*.ear

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore configuration files
application.properties
application.yml

# Ignore database files
*.db
*.sqlite
*.sql

# Ignore test output files
test-output/
